
/bench_runs/*
/benchmarks/results/*
/docs/*
/results/*
/tests/testthat/results/dataset*
/tests/testthat/*.arrow
/tests/testthat/*.feather
/tests/testthat/*.fst
.RData
.Ruserdata
*.a
*.dll
*.fea
*.gcov
*.gz
*.html
*.o
*.orig
*.pdf
*.rds
*.Rhistory
*.Rproj
*.so
*.txt
*.zip
.Rproj.user
*.TMP
/revdep/*
